In [447]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
from urllib.parse import urljoin

In [458]:
header={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
webpage=requests.get('https://www.bizbuysell.com/service-businesses-for-sale/1/?q=Z2lmcm9tPTUwMDAwMCZsdD0zMCw0MCw4MCZuYXA9ZSZwZnJvbT01MDAwMDA%3D',headers=header).text

In [459]:
soup=BeautifulSoup(webpage,'lxml')

In [348]:
company=soup.find_all('div',class_="text")

In [387]:
company[20]

<div class="text"><!-- --><!-- --><!-- --><h3 class="title ng-star-inserted">Great Established Pool Route for sale turn key operation</h3><!-- --><div class="hide-on-desktop hide-on-tablet float-right"><!-- --></div><!-- --><!-- --><p class="description ng-star-inserted">Large pool route in Martin and St. Lucie Counties. Established pool route consisting of 700+ residential pools. Reoccurring monthly billing of $66,000 and approximately $250,000 in repair income. Route office can be from home or separate office space.  Included - fully staffed operation, 10 trucks, 4 trailers, 11 hammerhead vacuums, plus misc. equipment. Take over your own recession proof essential business. Potential in the area is huge.</p><!-- --><p class="show-on-mobile asking-price ng-star-inserted"><span><!-- --><!-- --></span>$945,000 </p><!-- --><p class="cash-flow-on-mobile ng-star-inserted">Cash Flow: $275,000</p><!-- --></div>

In [388]:
business_type=[]
location=[]
sales_price=[]
cash_flow=[]
broker_name=[]
for i in company:
    if i.find('h3',class_="title ng-star-inserted")!=None:
        business_type.append(i.find('h3',class_="title ng-star-inserted").text.strip())
    if i.find('p',class_="location ng-star-inserted") !=None:
        location.append(i.find('p',class_="location ng-star-inserted").text.strip())
    if i.find('p',class_="show-on-mobile asking-price ng-star-inserted")!=None:
        sales_price.append(i.find('p',class_="show-on-mobile asking-price ng-star-inserted").text.strip())
    if i.find('p',class_="cash-flow-on-mobile ng-star-inserted")!=None:
        cash_flow.append(i.find('p',class_="cash-flow-on-mobile ng-star-inserted").text.strip())
    if i.find('button',class_="btn diamond-contact contactSeller ng-star-inserted")!=None:
        broker_name.append(i.find('button',class_="btn diamond-contact contactSeller ng-star-inserted").text.strip())

In [401]:
pd.DataFrame({"Business_Type":pd.Series(business_type),
              "Business_Location":pd.Series(location),
              "Sales_price":pd.Series(sales_price),
             "Cash_flow":pd.Series(cash_flow)})

,Business_Type,Business_Location,Sales_price,Cash_flow
0,SBA Pre-Qualified Gutter Installation Business...,"Merrimack County, NH","$550,000","Cash Flow: $332,988"
1,Established Profitable Kitchen Design Business...,Florida,"$539,000","Cash Flow: $263,219"
2,"14 FedEx P&D Routes - Cleveland, OH(purchase d...",Ohio,"$1,450,000","Cash Flow: $329,056"
3,Established Property Management Business For Sale,"Lowell, MA","$700,000","Cash Flow: $146,449"
4,Home and Kitchen Remodeling Business in Afflue...,"San Antonio, TX","$600,000","Cash Flow: $206,458"
5,"15 FedEx P&D Routes - Durham, NC","Durham, NC","$975,000","Cash Flow: $203,332"
6,FedEx P&D Oklahoma (Central) .. Excellent Oppo...,Oklahoma,"$1,150,000","Cash Flow: $460,000"
7,Leading Colorado Environmental Consulting Company,Colorado,"$1,300,000","Cash Flow: $359,816"
8,9 FedEx P&D Routes - Northeast IL,Illinois,"$630,000","Cash Flow: $156,731"
9,Restoration Franchise Positioned for Growth in...,"Shelby County, TN","$797,484","Cash Flow: $235,657"
10,ABC Seamless Inc.,Available in Multiple Locations,"$150,000","Cash Flow: $784,656"
11,16 FedEx Linehaul Runs - Eastern MN,Minnesota,"$3,050,000","Cash Flow: $310,065"
12,22 YEAR OLD POOL SERVICE BUSINESS,"Kempner, TX","$776,000","Cash Flow: $290,000"
13,Mobile Truck Washing,"Sparks, NV","$1,150,000","Cash Flow: $274,023"
14,18 FedEx P&D Routes - Western PA,Pennsylvania,"$1,300,000","Cash Flow: $1,200,000"
15,Construction / Garage Door Business with Distr...,"Will County, IL","$3,700,000","Cash Flow: $1,000,000"
16,Specialty Food Market & Eatery #1710,North Carolina,"$4,000,000","Cash Flow: $270,000"
17,"16 FedEx P&D Routes, 17 Delivery Vehicles in C...",Colorado,"$1,200,000","Cash Flow: $273,077"
18,Miami's Finest!! Exceptional Pool Supply Franc...,"Miami Shores, FL","$750,000","Cash Flow: $440,073"
19,Title Agency,"Albany, NY","$789,000","Cash Flow: $275,000"
20,Great Established Pool Route for sale turn key...,Available in Multiple Locations,"$945,000","Cash Flow: $535,000"
21,Molly Maids,"Monmouth County, NJ","$50,000","Cash Flow: $790,000"
22,Cash Flowing business- leave your corporate jo...,"Jacksonville, FL","$570,000","Cash Flow: $244,587"
23,"Outstanding Concierge-Level Remodeler Over 18,...",Washington,"$2,100,000","Cash Flow: $297,302"
24,Established HVAC Company,"Helena, MT","$2,000,000","Cash Flow: $266,447"
25,"8 FedEx P&D Routes for Sale - Helena, MT","Coconut Creek, FL","$995,000","Cash Flow: $215,000"
26,#1 Pool Supply Franchise W/ Multiple Streams O...,"Waller County, TX","$700,002","Cash Flow: $893,000"
27,Roll of Dumpster | Demolition & Clean Up | 36...,"Houston, TX","$4,000,000","Cash Flow: $679,663"
28,Established Insulation Business for Sale,"Los Angeles County, CA","$545,000","Cash Flow: $342,082"
29,"Established, Profitable CertaPro Painters Fran...","District of Columbia, DC","$540,000","Cash Flow: $297,000"
30,"Very profitable roofing company, seller retiring.","Jacksonville, FL","$2,195,000","Cash Flow: $410,000"
31,Jacksonville Design & Build Firm For Sale,Available Nationwide,"$1,500,000","Cash Flow: $166,721"
32,Softroc,"Titusville, FL","$100,000","Cash Flow: $383,000"
33,Soaring Sales!! OVER 3 MILLION THIS YEAR!!,"Louisville, KY","$2,050,000","Cash Flow: $505,458"
34,B2B Commercial Grounds Management Business Ava...,"Nashville, TN","$1,150,000","Cash Flow: $345,000"
35,99% Automated Amazon Store. No Employees. Loca...,Virginia,"$1,550,000","Cash Flow: $470,159"
36,"Independent Mold Remediation, Mitigation and R...","Pasadena, TX","$829,000","Cash Flow: $835,048"
37,Two Large Laundromats | Newly Renovated | ...,Available Nationwide,"$2,300,000","Cash Flow: $350,000"
38,Meineke Car Care Centers,"Cincinnati, OH","$110,000","Cash Flow: $248,032"
39,"14 FedEx P&D Routes - Cincinnati, Ohio Area","Denver, CO","$690,000","Cash Flow: $492,139"
40,"Custom Window Treatment Co, 36% Profit Margin,...","Davidson County, TN","$840,000","Cash Flow: $450,000"
41,Highly Profitable Lawn Equipment Business For ...,"Salt Lake City, UT","$2,500,000","Cash Flow: $550,000"
42,Salt Lake City Custom Cabinetry & Furniture Ma...,"Hancock County, IN","$1,500,000","Cash Flow: $428,424"
43,High-Performing Restoration Franchise (SBA Pre...,"Stafford County, VA","$1,200,000","Cash Flow: $250,000"
44,Independent Restoration & Reconstruction Busin...,"Jefferson County, LA","$4,300,000",NaN
45,20 Plus Year Landscaping / Outdoor Structures ...,"Clark County, IN","$1,725,000",NaN
46,Independent Restoration Premium Service Busine...,"Danville, IL","$1,250,007",NaN
47,"Independent, Recession-Proof Restoration Business","Calabasas, CA","$975,000",NaN
48,Incredible Price And Opportunity For Outdoor C...,Available in Multiple Locations,"$895,000",NaN
49,One Hour Heating & Air Conditioning,"Seattle, WA","$150,000",NaN
50,Price Reduction - 3 Retail Marijuana Retail St...,"Riverside County, CA","$6,000,000",NaN
51,Plumbing Business for Sale with Long Term Cust...,"Palm Beach County, FL","$1,200,000",NaN
52,Elite Luxury Caterer - Rare opportunity,"Charlotte, NC","$1,900,000",NaN
53,Leading Corporate and Event Caterer - Explosiv...,Washington,"$849,000",NaN
54,Equipment & Tool Rental - Western Washington,Available Nationwide,"$2,300,000",NaN
55,Mobiledumps,NaN,"$50,000",NaN

In [452]:
data=pd.DataFrame()
for j in range(1,47):
    header={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
    webpage=requests.get('https://www.bizbuysell.com/service-businesses-for-sale/{}/?q=Z2lmcm9tPTUwMDAwMCZsdD0zMCw0MCw4MCZuYXA9ZSZwZnJvbT01MDAwMDA%3D'.format(j),headers=header).text
    soup=BeautifulSoup(webpage,'lxml')
    company=soup.find_all('div',class_="text")
    business_type=[]
    location=[]
    sales_price=[]
    cash_flow=[]
    broker_name=[]
    for i in company:
        try:
            business_type.append(i.find('h3',class_="title ng-star-inserted").text.strip())
        except:
            business_type.append(np.nan)
        try:
            location.append(i.find('p',class_="location ng-star-inserted").text.strip())
        except:
            location.append(np.nan)
        try:
            sales_price.append(i.find('p',class_="show-on-mobile asking-price ng-star-inserted").text.strip())
        except:
            sales_price.append(np.nan)
        try:
            cash_flow.append(i.find('p',class_="cash-flow-on-mobile ng-star-inserted").text.strip())
        except:
            cash_flow.append(np.nan)

    df=pd.DataFrame({'Business_type':business_type,
    'Business':location,
    'Sales_price':sales_price,
    'Cash_flow':cash_flow,})
    data=pd.concat([data,df],ignore_index=True)

In [453]:
data

,Business_type,Business,Sales_price,Cash_flow
0,SBA Pre-Qualified Gutter Installation Business...,"Merrimack County, NH","$550,000","Cash Flow: $332,988"
1,Established Profitable Kitchen Design Business...,Florida,"$539,000","Cash Flow: $263,219"
2,"14 FedEx P&D Routes - Cleveland, OH(purchase d...",Ohio,"$1,450,000","Cash Flow: $329,056"
3,Established Property Management Business For Sale,"Lowell, MA","$700,000","Cash Flow: $146,449"
4,Home and Kitchen Remodeling Business in Afflue...,"San Antonio, TX","$600,000","Cash Flow: $206,458"
...,...,...,...,...
2516,Health SPA in Northridge,"Northridge, CA","$7,780,000",NaN
2517,Medical Building,"Frisco, TX","$850,000",NaN
2518,Thriving catering long-established catering bu...,"Jacksonville, FL","$659,900",NaN
2519,Check Cashing,"Flordell Hills, MO","$850,000",NaN
2520,High Volume Cleaners / With Property,"Roslyn Heights, NY","$5,450,000",NaN

In [ ]:
data.isnull().sum()

In [463]:
broker_details=soup.find_all('a',class_="diamond")
for i in broker_details:
    webpage=requests.get("https://www.bizbuysell.com/{}".format(i.get('href').strip('?d=undefined')))
    soup1=BeautifulSoup(webpage,'lxml')
    soup1.find

In [ ]:
webpage=requests.get("https://www.bizbuysell.com/{}".format(broker_details[0].get('href').strip('?d=undefined')))
soup1=BeautifulSoup(webpage,'lxml')

In [ ]:
broker_details[0].get('href').strip('?d=undefined')